{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div id="wrapper">

<div>
<h2> What type of report would you like to file? </h2>
<span><input type="radio" isActive=true id="hateCrime"><p isActive=true id="hateCrime">Hate Crime Report</p></span>
<input type="radio" isActive=true id="policeBrut"><p isActive=true id="policeBrut">Police Brutality Report</p>
<input type="radio" isActive=true id="civilRights"><p isActive=true id="civilRights" >Civil Rights Violation Report</p>
</div>

<div>
<h2> Who would you like to send your report to? </h2>
<p>Optional: deselect any groups you would not like to include in your email</p>
<input type="checkbox" isActive=false id="hateCrime" checked><p isActive=false id="hateCrime">Mayor of Durham</p>
<input type="checkbox" isActive=false id="hateCrime" checked><p isActive=false id="hateCrime">Southern Poverty Law Center</p>

<input type="checkbox" isActive=false id="policeBrut" checked><p isActive=false id="policeBrut">Civilian Police Board Review</p>
<input type="checkbox" isActive=false id="policeBrut" checked><p isActive=false id="policeBrut">Southern Coalition for Social Justice</p>

<input type="checkbox" isActive=false id="civilRights" checked><p isActive=false id="civilRights">NAACP</p>
<input type="checkbox" isActive=false id="civilRights" checked><p isActive=false id="civilRights">ACLLU</p>
</div>


<div id="hateCrime" isActive=false>
    {{ report.title }}
    {{ email.address }}
    {{ report.content }}
</div>

<div id="policeBrut" isActive=false>
    {{ report.title }}
    {{ email.address }}
    {{ report.content }}
</div> 

<div id="civilRights" isActive=false>
    {{ report.title }}
    {{ email.address }}
    {{ report.content }}
</div>

  <form id="sumbit-screenshot" method="POST">
    <input type= "text" input type="hidden" id="emailRecipients" maxlength= "500" placeholder="Email Recipients">
    <textarea id="emailBody" maxlength="5000" cols="40" rows="5" placeholder="Additional details about the incident"></textarea>
    {% csrf_token %}
    <input id="new-screenshot" type="image" src="#"></input>
  </form>
  
</div>
{% endblock %}


<br><br><br>
